node_modules/
coverage/

digischools.sql

*.pdf
*.html
*.xml
coverage/*.json
test-results.json
*.tmp.json
*.css
coverage/*
*.tmp

*.log
*.md
*.sh

CLAUDE.md
docs
plans
.claude/*


.env
.env.dev
.env.local
.env.prod

.DS_Store

.idea
dist/
build/
scripts/*
