node_modules/

digischools.sql

*.pdf
*.html
*.xml
*.css
*json
coverage/*
*.tmp

*.log
*.md
*.sh

CLAUDE.md
docs
plans
.claude/*

package-lock.json

.env
.env.dev
.env.local
.env.prod

.DS_Store

.idea
dist/
build/

scripts/*